.btn-ghost{
    border: 1px solid var(--color);
    padding:  .5rem 1rem;
    //background-color: var(--color);
    color: var(--color);
    cursor: pointer;
    display: inline-block;
    border-radius: .25rem;
    transition: transform .05s;
    text-align: center;
    text-decoration: none;

    &:hover{
    background-color: var(--color);
    color: #fff;
    border-color: transparent;
    
    }

    &:active{
      transform: scale(.99);
    }
}