.footer-creditos{
    color: var(--color-text);
}
.social-media{
    color: var(--color-text);
}
.banner-title{
    font-size: 2rem;
    margin-bottom: 1em;
    @include mq(l){
        font-size: 3rem;
    }
}
.banner-subtitle{
    font-size: 1.5rem;
}