.footer-creditos{
    color: var(--color-text);
}
.social-media{
    color: var(--color-text);
}
.banner-title{
    font-size: 2rem;
    margin-bottom: 1em;
    @include mq(xl){
        font-size: 3rem;
    }
}
.banner-subtitle{
    font-size: 1.5rem;
}
.alt-banner-title{
    font-size: 2rem;
    margin-bottom: .5em;
}
p{
    margin-bottom: 1rem;
}

.study-title{
    text-align: center;
    margin-bottom: 2em;
    @include mq(xl){
        margin-bottom: 3em;
        font-size: 1.5em;
    }
}
.study-subtitle{
    margin-bottom: .5em;
    @include mq(xl){
        font-size: 1.5rem;
    }
}
.title{
    text-align: center;
    margin-bottom: 2em;
    @include mq(xxl){
        margin-bottom: 3em;
    }
}